.header {
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:800px) {
    .header {
        display: none;
    }
}



.logo_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: gray;
}

.logo_block > div {
    padding: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.nav > div {
    padding: 10px;
    position: relative;
    transition-duration: .3s;
    &:before {
        transition-duration: .3s;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: linear-gradient(90deg ,#FFDF39, transparent);
        width: 0;
    }
    &:hover {
      a {
        color: black;
      }
        &:before {
            width: 100%;
        }
    }
}

.nav div > a {
    text-decoration: none;
    color: gray;
    transition-duration: .3s;
    @media (max-width: 1419px) {
        font-size: 13px;
    }
}

a {
    width: 100%;
    height: 100%;
}

.tel {
    min-width: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    @media (max-width: 1419px) {
        font-size: 13px;
    }
}

.req a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.568);
    &:hover {
        color: rgba(0, 0, 0, 0.7)
    }
}