.button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 2rem;
  border-radius: 1111111px;
  font-size: 30px;
  margin: 15px;
  opacity: .3;
  img {
    width: inherit;
    height: inherit;
  }
}