@font-face {
    font-family: "Yandex";
    src: url('/src/fonts/YandexSansDisplay-Regular.ttf');
}

* {
    font-family: "Yandex", sans-serif;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.show {
    animation: show .5s ease-in-out;
}